<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Customer List</title>
  </head>
  <body>
    <header>
      <h1>
        <li><a th:href="@{/}">CRS</a></li>
      </h1>
      <nav>
        <ul>
          <li><a th:href="@{/register}">Register a new customer</a></li>
          <li><a th:href="@{/customers}">View customers</a></li>
        </ul>
      </nav>
    </header>
    <h2>List of Customers</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="customer : ${customers}">
          <td th:text="${customer.id}"></td>
          <td th:text="${customer.nmCustomer}"></td>
          <td th:text="${customer.dsEmail}"></td>
          <td th:text="${customer.password}"></td>
          <td>
            <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a>
            <a
              th:href="@{/customers/delete/{id}(id=${customer.id})}"
              onclick="return confirm('Are you sure you want to delete this customer?')"
              >&times;</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
