<!DOCTYPE html>
<html lang="en" xlmns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>CRS</title>
  </head>
  <body>
    <header>
      <h1>
        <li><a th:href="@{/}">CRS</a></li>
      </h1>
      <nav>
        <ul>
          <li><a th:href="@{/register}">Register a new customer</a></li>
          <li><a th:href="@{/customers}">View customers</a></li>
        </ul>
      </nav>
    </header>
    <h2>Customer registration system</h2>
  </body>
</html>
