<!DOCTYPE html>
<html lang="en" xlmns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>CRS | Customer Registration</title>
  </head>
  <body>
    <header>
      <h1>
        <li><a th:href="@{/}">CRS</a></li>
      </h1>
      <nav>
        <ul>
          <li><a th:href="@{/register}">Register a new customer</a></li>
          <li><a th:href="@{/customers}">View customers</a></li>
        </ul>
      </nav>
    </header>

    <h2>Customer Registration</h2>

    <form th:action="@{/register}" method="post" th:object="${customer}">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        th:field="*{nmCustomer}"
        name="username"
        required
      />
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        th:field="*{dsEmail}"
        name="email"
        required
      />
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        th:field="*{password}"
        name="password"
        required
      />
      <div><input type="submit" value="Create acccount" /></div>
    </form>
  </body>
</html>
